#container{
    display: flex;
    flex-wrap: wrap;
}

.recipe{
    margin: auto;
    text-align: center;
    /* border: 1px solid black; */
    padding: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 250px;
    /* height: 250px; */
}

.recipe img{
    width: 200px;
    height: 200px;
}

.recipe:hover button{
    background-color: red;
    color: white;
}

.recipe:hover{
    /* scale: 2px; */
    background-color: antiquewhite;
    transform: scale(1.1);
}

#searchBox {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    margin-bottom: 20px;
}

#searchbtn{
    background-color: #4CAF50;
    color: white;
}

#header{
    display: block;
    margin: 0 auto;
    text-align: center;
}