* {
    margin: 0;
    padding: 20px;
}

#container{
    padding: 20px;
    border: 1px solid black;
    /* width: 80vw; */
    /* height: 80vh; */
}

.products{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: w; */
}

.product{
    width: 411px;
    height: 411px;
    padding: 20px;
    border: 1px solid black;
}

.product img{
    width: 200px;
}

